* {
  margin: 0;
  padding: 0;
}

body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #111111;
  /* line-height: 0.1rem; */
  /* letter-spacing: 2px; */
}

.wrapper {
  background: #111111;
  margin: 0 auto;
}

.slider__input {
  display: none;
}

/* .slider {
  margin: 0 auto;
  max-width: 100vh;
  background: #e50404;
} */

.container {
  /* background: #e61111; */
  /* max-width: 60rem; */
  height: 20rem;
  margin: 0 auto;
  padding: 1.5rem 8rem;
  max-width: 100vh;
}

.slider__visible {
  /* display: flex; */

  overflow: hidden;
  border-radius: 0.625rem;

  /* margin-bottom: 1rem; */
}

.slider__list {
  white-space: nowrap;
  /* height: 100%; */
  font-size: 0;
  transition: all 0.9s;
}

.slider__meme {
  display: inline-block;
}

img {
  max-width: 100%;
}

#meme-1:checked ~ .slider__visible .slider__list {
  transform: translateX(0);
}

#meme-2:checked ~ .slider__visible .slider__list {
  transform: translateX(-100%);
}

#meme-3:checked ~ .slider__visible .slider__list {
  transform: translateX(-200%);
}

#meme-4:checked ~ .slider__visible .slider__list {
  transform: translateX(-300%);
}

.slider__nav {
  width: 30%;
  display: flex;
  /* justify-content: space-between; */
  justify-content: end;
  gap: 0.25rem;
  align-items: center;
  margin-top: 1.625rem;
}

.slider__description {
  width: 70%;
  background: #111111;
  overflow: hidden;
  display: flex;
}

.slider__title-1,
.slider__title-2,
.slider__title-3,
.slider__title-4 {
  min-width: 25rem;
  background: #111111;
  transition: all 0.9s ease;
  color: #111111;
  margin-top: 1.625rem;
  opacity: 0;
}

#meme-1:checked ~ .slider__down .slider__description .slider__title-1 {
  transform: translateX(0);
  opacity: 1;
  color: azure;
}

#meme-2:checked ~ .slider__down .slider__description .slider__title-2 {
  transform: translateX(-100%);
  opacity: 1;
  color: azure;
}

#meme-3:checked ~ .slider__down .slider__description .slider__title-3 {
  transform: translateX(-200%);
  opacity: 1;
  color: azure;
}

#meme-4:checked ~ .slider__down .slider__description .slider__title-4 {
  transform: translateX(-300%);
  opacity: 1;
  color: azure;
}

#meme-1 ~ .slider__down .slider__description .slider__title-1 {
  transform: translateX(100%);
}

#meme-2 ~ .slider__down .slider__description .slider__title-2 {
  transform: translateX(0);
}

#meme-3 ~ .slider__down .slider__description .slider__title-3 {
  transform: translateX(-100%);
}

#meme-4 ~ .slider__down .slider__description .slider__title-4 {
  transform: translateX(-200%);
}

.slider__down {
  display: flex;
}

.slider__label span {
  display: inline-block;
  width: 1.625rem;
  height: 1.625rem;
  background: #111111;

  border-radius: 50%;
  transition: all 0.3s;
  cursor: pointer;
}

.slider__label span:active {
  opacity: 0.7;
}

.slider__label span span {
  width: 1rem;
  height: 1rem;
  background: #640acb;

  border-radius: 50%;
  margin-left: calc(50% - 0.5rem);
  margin-top: calc(50% - 0.5rem);
}

.slider__label span span span {
  width: 0.8rem;
  height: 0.8rem;
  background: #111111;
  opacity: 0;

  border-radius: 50%;
  margin-left: calc(50% - 0.4rem);
  margin-top: calc(50% - 0.4rem);
}

.slider__label span:hover span {
  background: azure;
}

#meme-1:checked ~ .slider__down .slider__nav .slider__label span span .label-1 {
  opacity: 1;
}

#meme-2:checked ~ .slider__down .slider__nav .slider__label span span .label-2 {
  opacity: 1;
}

#meme-3:checked ~ .slider__down .slider__nav .slider__label span span .label-3 {
  opacity: 1;
}

#meme-4:checked ~ .slider__down .slider__nav .slider__label span span .label-4 {
  opacity: 1;
}

#meme-1:checked:hover
  ~ .slider__down
  .slider__nav
  .slider__label
  span
  span
  .label-1 {
  background: #111111;
}

#meme-2:checked:hover
  ~ .slider__down
  .slider__nav
  .slider__label
  span
  span
  .label-2 {
  background: #111111;
}

#meme-3:checked:hover
  ~ .slider__down
  .slider__nav
  .slider__label
  span
  span
  .label-3 {
  background: #111111;
}

#meme-4:checked:hover
  ~ .slider__down
  .slider__nav
  .slider__label
  span
  span
  .label-4 {
  background: #111111;
}

/* 
@media (max-height: 577px) {
  .container {
    max-width: 140vh;
  }
} */

@media (max-width: 767px) {
  .container {
    padding: 1.5rem 1.5rem;
  }

  .slider__down {
    flex-direction: column-reverse;
  }

  .slider__nav {
    width: 100%;
    justify-content: center;
  }

  .slider__description {
    width: 100%;
  }
}
