body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #111111;
}

.wrapper {
  background: #111111;
  margin: 0 auto;
}

.slider__input {
  display: none;
}

/* .slider {
  margin: 0 auto;
  max-width: 100vh;
  background: #e50404;
} */

.container {
  /* background: #e61111; */
  /* max-width: 60rem; */
  height: 20rem;
  margin: 0 auto;
  padding: 1.5rem 8rem;
  max-width: 100vh;
}

.slider__visible {
  /* display: flex; */

  overflow: hidden;
  border-radius: 0.625rem;

  margin-bottom: 1rem;
}

.slider__list {
  white-space: nowrap;
  /* height: 100%; */
  font-size: 0;
  transition: all 0.9s;
}

.slider__meme {
  display: inline-block;
}

img {
  max-width: 100%;
}

#meme-1:checked ~ .slider__visible .slider__list {
  transform: translateX(0);
}

#meme-2:checked ~ .slider__visible .slider__list {
  transform: translateX(-100%);
}

#meme-3:checked ~ .slider__visible .slider__list {
  transform: translateX(-200%);
}

#meme-4:checked ~ .slider__visible .slider__list {
  transform: translateX(-300%);
}

.slider__nav {
  width: 30%;
  display: flex;
  /* justify-content: space-between; */
  justify-content: end;
  gap: 1rem;
  align-items: center;
}

.slider__label span {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background: #0acb5d;
  cursor: pointer;
  border-radius: 50%;
}

.slider__description {
  width: 70%;
  background: #111111;
  overflow: hidden;
  display: flex;
}

.slider__title-1,
.slider__title-2,
.slider__title-3,
.slider__title-4 {
  min-width: 5rem;
  background: #111111;
  transition: all 0.9s ease;
  color: #111111;
  opacity: 0;
}

#meme-1:checked ~ .slider__down .slider__description .slider__title-1 {
  transform: translateX(0);
  opacity: 1;
  color: azure;
}

#meme-2:checked ~ .slider__down .slider__description .slider__title-2 {
  transform: translateX(-100%);
  opacity: 1;
  color: azure;
}

#meme-3:checked ~ .slider__down .slider__description .slider__title-3 {
  transform: translateX(-200%);
  opacity: 1;
  color: azure;
}

#meme-4:checked ~ .slider__down .slider__description .slider__title-4 {
  transform: translateX(-300%);
  opacity: 1;
  color: azure;
}

#meme-1 ~ .slider__down .slider__description .slider__title-1 {
  transform: translateX(1500%);
}

#meme-2 ~ .slider__down .slider__description .slider__title-2 {
  transform: translateX(800%);
}

#meme-3 ~ .slider__down .slider__description .slider__title-3 {
  transform: translateX(600%);
}

#meme-4 ~ .slider__down .slider__description .slider__title-4 {
  transform: translateX(400%);
}

.slider__down {
  display: flex;
}
/* 
@media (max-height: 577px) {
  .container {
    max-width: 140vh;
  }
} */
